@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fragment Mono';
  font-weight: 400;
  src: url('/fonts/FragmentMono.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Fragment Mono';
  font-weight: 700;
  src: url('/fonts/FragmentMono.woff2') format('woff2');
  font-display: swap;
}



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;
}

body::-webkit-scrollbar{
  display: none;
}